@charset "UTF-8";

body{
    background-color: #27272a;
}

.container {
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: #6366f1;
}

.item {
    width: 200px;
    height: 200px;
    background-color: #38bdf8;
    text-align: center;
}

#item3 {
    flex-basis: 100px;
}


